@using System.Web.Optimization

<!DOCTYPE html>

<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="~/Images/favicon.ico">

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/layout")
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="@Url.Action("Index", "Home")">System Panoptikum</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="@Url.Action("Logout","Account")">Wyloguj się</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" href="@Url.Action("Index", "Home")">
                                <span data-feather="home"></span>
                                Strona główna <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        @if (this.User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "AccountList" ? "active" : "")" href="@Url.Action("AccountList", "Account")">
                                    <span data-feather="users"></span>
                                    Pracownicy
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "CreateAccount" ? "active" : "")" href="@Url.Action("CreateAccount", "Account")">
                                    <span data-feather="plus-square"></span>
                                    Dodaj użytkownika
                                </a>
                            </li>
                        }
                        @if (this.User.IsInRole("Nurse") || this.User.IsInRole("Doctor"))
                        {
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "PatientList" ? "active" : "")" href="@Url.Action("PatientList", "Patient")">
                                    <span data-feather="users"></span>
                                    Lista pacjentów
                                </a>
                            </li>
                        }
                        @if (this.User.IsInRole("Nurse"))
                        {
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "AddPatient" ? "active" : "")" href="@Url.Action("AddPatient", "Patient")">
                                    <span data-feather="plus-square"></span>
                                    Dodaj pacjenta
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </nav>

            @RenderBody()

        </div>
    </div>

    @Scripts.Render("~/Scripts/layout")
    @RenderSection("scripts", false)

    <!-- Icons -->
    <script src="~/Scripts/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
</body>
</html>