@model MasterProject.Web.Models.EditPatientViewModel

<div>
    <br />
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><strong>Imię i nazwisko:</strong></label>
        <div class="col-sm-5">
            <p class="form-control-plaintext">@Model.FirstName @Model.SecondName @Model.Surname</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><strong>Pesel:</strong></label>
        <div class="col-sm-5">
            <p class="form-control-plaintext">@Model.Pesel</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><strong>Data urodzenia:</strong></label>
        <div class="col-sm-5">
            <p class="form-control-plaintext">@Model.DateOfBirth.ToShortDateString()</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><strong>Miejsce urodzenia:</strong></label>
        <div class="col-sm-5">
            <p class="form-control-plaintext">@Model.CityOfBirth</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><strong>Obywatelstwo:</strong></label>
        <div class="col-sm-5">
            <p class="form-control-plaintext">@Model.NationalityName</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><strong>Numer telefonu:</strong></label>
        <div class="col-sm-5">
            <p class="form-control-plaintext"><a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a></p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><strong>Adres:</strong></label>
        <div class="col-sm-5">
            <p class="form-control-plaintext">
                @Model.Street @Model.BuildingNumber/@Model.FlatNumber <br />
                @Model.ZipCode @Model.City <br />
                @Model.CountryName
            </p>
        </div>
    </div>
    @if (this.User.IsInRole("Nurse"))
    {
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editDataModal">Edytuj dane</button>
    }

    <div class="modal fade" id="editDataModal" tabindex="-1" role="dialog" aria-labelledby="editDataModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editDataModalLabel">Edycja danych pacjenta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="savePatientDataForm" action="@Url.Action("EditPatientData","Patient")">
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.LabelFor(x => x.FirstName, new { @class = "col-form-label" })
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.SecondName, new { @class = "col-form-label" })
                            @Html.TextBoxFor(x => x.SecondName, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Surname, new { @class = "col-form-label" })
                            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Pesel, new { @class = "col-form-label" })
                            @Html.TextBoxFor(x => x.Pesel, new { @class = "form-control", required = "required", maxlength = "11" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Nationalities, new { @class = "col-form-label" })
                            @Html.DropDownListFor(x => x.NationalityId, Model.Nationalities.Select(f => new SelectListItem
                            {
                                Value = f.Id.ToString(),
                                Text = f.Name
                            }), new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.PhoneNumber, new { @class = "col-form-label" })
                            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", pattern = @"(?<!\w)(\(?(\+|00)?48\)?)?[ -]?\d{3}[ -]?\d{3}[ -]?\d{3}(?!\w)", title = "Podaj poprawny numer telefonu!" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.DateOfBirth, new { @class = "col-form-label" })
                            @Html.TextBoxFor(x => x.DateOfBirth, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required", id = "dateofbirth" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.CityOfBirth, new { @class = "col-form-label" })
                            @Html.TextBoxFor(x => x.CityOfBirth, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Street, new { @class = "col-form-label" })
                            @Html.TextBoxFor(x => x.Street, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.BuildingNumber, new { @class = "col-form-label" })
                            @Html.TextBoxFor(x => x.BuildingNumber, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.FlatNumber, new { @class = "col-form-label" })
                            @Html.TextBoxFor(x => x.FlatNumber, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.ZipCode, new { @class = "col-form-label" })
                            @Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.City, new { @class = "col-form-label" })
                            @Html.TextBoxFor(x => x.City, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Countries, new { @class = "col-form-label" })
                            @Html.DropDownListFor(x => x.CountryId, Model.Countries.Select(f => new SelectListItem
                            {
                                Value = f.Id.ToString(),
                                Text = f.Name
                            }), new { @class = "form-control", required = "required" })
                        </div>
                        @Html.HiddenFor(x => x.Id)
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                        <button type="submit" class="btn btn-primary">Zapisz dane</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>