@model MasterProject.Web.Models.EditPatientViewModel
@{
    ViewBag.Title = "Dane pacjenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />

@section scripts{
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/locales/bootstrap-datepicker.pl.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#dateofbirth').datepicker({
                language: "pl"
            });
        });

        $(document).ready(function () {
            @if (TempData["DocumentSuccess"] != null)
            {
                if(TempData["DocumentSuccess"].ToString() == "OK")
                { 
                    <text>
                        toastr.success('Poprawnie dodano dokument');
                    </text>
                }
                else if (TempData["DocumentSuccess"].ToString() == "ERROR")
                {
                    <text>
                        toastr.warning('Niepoprawny format danych');
                    </text>
                }
                @(TempData["DocumentSuccess"] = null)
            }
        });

        $("#savePatientDataForm").submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: $(this).attr("action"),
                data: $(this).serialize(),
                type: 'POST',
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (data != null && data.type == 'OK') {
                        toastr.success(data.message);
                        setTimeout(function () { window.location.reload() },
                            2000);
                    } else {
                        toastr.error(result.message);
                    }
                }
            });
            return false;
        });

        $("#addNoteForm").submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: $(this).attr("action"),
                data: { patientId: $('#patientId').val(), content: $('#noteText').val() },
                type: 'POST',
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (data != null && data.type === 'OK') {
                        toastr.success(data.message);
                        setTimeout(function () { location.reload() },
                            2000);
                    }
                },
                error: function () {
                    toastr.error('Wystąpił błąd!');
                }
            });
            return false;
        });
    </script>
}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="container">
        <div id="smallNav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home")">Strona główna</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="@Url.Action("PatientList", "Patient")">Lista pacjentów</a>
                </li>
                <li class="breadcrumb-item">
                    <a>
                        <b>Edycja konta</b>
                    </a>
                </li>
            </ol>
        </div>
        <h2>Konto pacjenta @($"{Model.FirstName} {Model.Surname} ID{Model.Id}")</h2>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#patientdata" role="tab" data-toggle="tab">
                    <span data-feather="clipboard"></span>
                    Dane pacjenta
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#documents" role="tab" data-toggle="tab">
                    <span data-feather="archive"></span>
                    Dokumenty
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#notes" role="tab" data-toggle="tab">
                    <span data-feather="file-text"></span>
                    Notatki
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                    <span data-feather="activity"></span>
                    Bieżąca diagnostyka
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@Url.Action("EkgMeasurement", "Patient", new { id = Model.Id })">Pomiar EKG</a>
                    <a class="dropdown-item" href="@Url.Action("TemperatureMeasurement", "Patient", new { id = Model.Id })">Pomiar temperatury</a>
                    <a class="dropdown-item" href="@Url.Action("HumidityMeasurement", "Patient", new { id = Model.Id })">Pomiar wilgotności</a>
                </div>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade show active" id="patientdata">
                @Html.Partial("_PatientData", Model)
            </div>
            <div role="tabpanel" class="tab-pane fade" id="notes">
                <div class="container">
                    <div class="row">
                        @foreach (var item in Model.PatientNotes.OrderByDescending(x => x.CreateDateTime))
                        {
                            <div class="col-sm-5 border border-primary rounded m-3">
                                <div class="row">
                                    <div class="col-sm-6 text-center">
                                        <em><strong>Data dodania:</strong><br /> @item.CreateDateTime.ToLocalTime()</em>
                                    </div>
                                    <div class="col-sm-6 text-center">
                                        <em><strong>Autor:</strong><br /> @item.UserName</em>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <textarea disabled style="height: 100px; width: 100%">@item.Content</textarea>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="container mt-3 mb-3">
                    <button data-toggle="modal" data-target="#addNoteModal" class="btn btn-primary">
                        <span data-feather="file-plus"></span>
                        Dodaj notatkę
                    </button>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="documents">
                <div class="container">
                    @foreach (var item in Model.PatientDocuments.OrderByDescending(x => x.AdditionDateTime))
                    {
                        <div class="form-group m-3">
                            <label class="col-form-label">
                                <strong>@item.FileName</strong>
                            </label>
                            <a href="@Url.Action("GetPdf","Home", new {fileName = item.Path})" target="_blank" class="w-25 form-control btn btn-info">Podgląd</a>
                        </div>
                    }
                </div>
                <div class="container mt-3 mb-3">
                    <button data-toggle="modal" data-target="#addDocumentModal" class="btn btn-primary">
                        <span data-feather="file-plus"></span>
                        Dodaj dokument
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addNoteModal" role="dialog" aria-labelledby="addNoteModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"><strong>Dodawanie</strong> notatki</h3>
                </div>
                <form id="addNoteForm" action="@Url.Action("AddNote","Patient")">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-form-label" for="noteText">
                                <strong>Treść notatki:</strong>
                            </label>
                            <textarea class="form-control" autofocus required="required" style="height: 100px;" id="noteText"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="addNote" class="btn btn-success">Dodaj</button>
                        <button class="btn btn-danger" data-dismiss="modal">Anuluj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addDocumentModal" role="dialog" aria-labelledby="addDocumentModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"><strong>Dodawanie</strong> dokumentu</h3>
                </div>
                <form id="addDocumentForm" enctype="multipart/form-data" method="post" action="@Url.Action("AddDocument","Patient")">
                    <div class="modal-body">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="myFile" name="myFile" accept="application/pdf" required>
                            <label class="custom-file-label" for="myFile">Wybierz plik...</label>
                        </div>
                        <input type="hidden" name="patientId" id="patientId" value="@Model.Id" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="addDocument" class="btn btn-success">Dodaj</button>
                        <button class="btn btn-danger" data-dismiss="modal">Anuluj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>