@using MasterProject.Core.Enums
@model MasterProject.Web.Models.MeasurementViewModel

@{
    ViewBag.Title = "Pomiar wilgotności";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="container">
        <div id="smallNav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home")">Strona główna</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="@Url.Action("PatientList", "Patient")">Lista pacjentów</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="@Url.Action("EditPatient", "Patient", new { id = Model.Id })">Edycja konta</a>
                </li>
                <li class="breadcrumb-item">
                    <a>
                        <b>Pomiar wilgotności</b>
                    </a>
                </li>
            </ol>
        </div>

        <div id="chartContainer" style="height: 600px"></div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary" style="width: 100px;" onClick="reset()">Reset</button>
            </div>
            <div class="col text-center">
                <button type="button" class="btn btn-danger" style="width: 100px;" onClick="stop()">Stop</button>
                <button type="button" class="btn btn-success" style="width: 100px;" onClick="start()">Start</button>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</main>

@section scripts{
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script type="text/javascript">
        var xAxisStripLinesArray = [];
        var yAxisStripLinesArray = [];
        var dps = [];
        var chart = new CanvasJS.Chart("chartContainer",
            {
                zoomEnabled: true,
                exportEnabled: true,
                title: {
                    text: "Raport wilgotności"
                },
                subtitles: [
                    {
                        text: "Imię i nazwisko: @Model.Name",
                        horizontalAlign: "left"
                    },
                    {
                        text: "Wiek: @Model.Age",
                        horizontalAlign: "left"
                    },
                    {
                        text: "Podpis lekarza",
                        horizontalAlign: "right",
                        verticalAlign: "bottom"
                    }
                ],
                axisX:{
                    title: "czas",      
                    valueFormatString: "HH:mm:ss", 
                    labelAngle: -20
                },
                axisY:{
                    title: "wilgotność [%]"
                },
                data: [
                    {
                        type: "spline",
                        color: "black",
                        dataPoints: dps,
                        xValueType: "dateTime",
                        xValueFormatString: "HH:mm:ss"
                    }
                ]
            });
        var interval;

        window.onload = function() {
            chart.render();
        };

        var updateChart = function() {
            var yVal = 0;
            var xVal = 0;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ReadData", new { deviceTypeId = (int)DeviceTypes.Humidity })',
                async: false,
                dataType: 'json',
                success: function(result) {
                    if (result != null) {
                        xVal = result.data.X;
                        yVal = result.data.Y;
                    }
                }
            });

            dps.push({
                x: new Date(xVal),
                y: yVal
            });

            chart.render();
        };

        function stop() {
            clearInterval(interval);
            interval = null;
        }

        function start() {
            interval = setInterval(function() { updateChart() }, 1000);
        }

        function reset() {
            clearInterval(interval);
            interval = null;
            dps = [];
            chart.options.data[0].dataPoints = dps;
            chart.render();
        }
    </script>
}